:root {
    --main-purple: #635FC7;
    --hover-purple: #A8A4FF;
    --black: #000112; 
    --very-dark-grey: #20212C; 
    --dark-grey: #2B2C37;
    --dark-lines: #3E3F4E;
    --medium-grey: #828FA3;
    --light-lines: #E4EBFA;
    --light-grey: #F4F7FD;
    --white: #FFFFFF;
    --red: #EA5555;
    --red-hover: #FF9898;
}


h4, h2, p, button, h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1, h2 {
    font-size: 40px;
    font-family: "Plus Jakarta Sans", sans-serif;
}



img {
    width: 40px;
}

.logo {
    display: flex;
    gap: 10px;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    border: solid 1px var(--light-lines);
}

.navigation-bar {
    grid-column: span 1;
    margin: 0px 20px 20px 20px;
}

.task-bar {
    grid-column: span 4;
    border-left: solid 1px var(--light-lines);
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: solid 1px var(--light-lines);   
    background-color: var(--light-grey);
    gap: 10px;
    padding: 20px 40px 40px 40px;
}

.task-name {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 5px 5px 5px 15px;
    border-radius: 8px;
}

.btn-primary {
    color: var(--white);
    background-color: var(--main-purple);
    padding: 20px 20px 20px 50px;
    border-radius: 8px;
    border: 1px solid var(--white);

}

